:root{
    --main-color: #151C34;
    --dark-color: #0C121C ;
    --light-color: #6DE6EE;
    --light-color2: #ffffff;
    --contrast-color: #f4c96b;
    --differential-color: #066668;
    }
    *{
    PSW 8.0 | Aula 1 6
    color: white
    }
    .font-destaque{
    color: var(--light-color);
    font-size: 40px;
    }
    .input-default{
    background-color: var(--light-color2);
    border: 1px solid var(--differential-color);
    padding: 7px;
    width: 50%;
    }
    .w100{
    width: 100%;
    }
    .btn-default{
    background-color: var(--light-color);
    color: black;
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    }
    .font-destaque-secundaria{
    color: var(--light-color);
    font-size: 35px;
    }